*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,body{
	
	font-family: 'Montserrat', sans-serif!important;
	user-select: none;
	overflow-y: hidden;
}
svg{
	cursor: pointer
}
body{
	/* background:#eee; */
	width: 100%;
	height: 95vh;
	color: #fff;


background-color: #ffffff;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='18' viewBox='0 0 100 18'%3E%3Cpath fill='%23282231' fill-opacity='0.1' d='M61.82 18c3.47-1.45 6.86-3.78 11.3-7.34C78 6.76 80.34 5.1 83.87 3.42 88.56 1.16 93.75 0 100 0v6.16C98.76 6.05 97.43 6 96 6c-9.59 0-14.23 2.23-23.13 9.34-1.28 1.03-2.39 1.9-3.4 2.66h-7.65zm-23.64 0H22.52c-1-.76-2.1-1.63-3.4-2.66C11.57 9.3 7.08 6.78 0 6.16V0c6.25 0 11.44 1.16 16.14 3.42 3.53 1.7 5.87 3.35 10.73 7.24 4.45 3.56 7.84 5.9 11.31 7.34zM61.82 0h7.66a39.57 39.57 0 0 1-7.34 4.58C57.44 6.84 52.25 8 46 8S34.56 6.84 29.86 4.58A39.57 39.57 0 0 1 22.52 0h15.66C41.65 1.44 45.21 2 50 2c4.8 0 8.35-.56 11.82-2z'%3E%3C/path%3E%3C/svg%3E");

font-family: 'Montserrat', sans-serif;


}

a{
	text-decoration: none;
}

img{
	pointer-events: none;
}
/* 

Padding
*/
.pt-3{
	padding-top: 3px;
}





#app{
	padding: 10px 0px;
}
/* playerMusic */

.player-wrapper{
	width: 25%;
	height: 96%;
	margin: 10px auto;
	background: #1a202ee0;
	border-radius: 20px;
}

.player-element{
	padding: 30px 20px;
}

/* Player-background-wrapper */
/* .bg-wrapper{
	position: relative;
	height: 200px;
	width: 100%;
	top: 10px;
	background: red;
} */


/* Player Header */

.player-header{
	display: flex;
	justify-content: space-between;
	font-family: 'Montserrat', sans-serif;

}
.arrowdownIcon,.listIcon,.listIcon img{
	width: 25px;
	color: #fff;
	cursor: pointer;
	transition: 350ms ease-in;
}

.arrowdownIconactive{
	width: 25px;
	color: #fff;
	cursor: pointer;
	/* transition: 150ms; */
	transform: rotate(-180deg);
}
.player-title{
	text-transform: uppercase;
	font-weight: 200;
}

/* Player ALbum art */
.player-album-art img{
	width: 100%;
    height: 300px;
    border-radius: 22px;
    margin: 15px 0px;
    user-dra	

 /*    -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none; */

}


/* Player Footer */
.heart-icon{
	width: 30px;
	cursor: pointer;
}
.song-info{
	display: flex;
	justify-content: space-between;
}
.song-name{
	
font-family: 'Montserrat', sans-serif;
	text-transform: capitalize;
	font-size: 22px;
}
.artist-name{
	
font-family: 'Montserrat', sans-serif;
	font-size: 13px;
	color: #ccc;
}

.duration-timeline{
	position: relative;
	width: 100%;
	height: 3px;
	background: #434343;
	border-radius: 5px;
	margin:20px 0px 0px 0px;
	cursor: pointer;
	font-family: 'Montserrat', sans-serif;

}

.durationCurrent-timeline{
	position: absolute;
	margin: -1px 0px 0px 0px;
	background: #f2f76b;
	width: 0%;
	height: 5px;
	border-radius: 10px;
	font-family: 'Montserrat', sans-serif;

}

.durationCurrent-timeline::after{
	content: '';
    position: absolute;
    width: 9px;
    height: 9px;
    border-radius: 100px;
    border: 2px solid #f2f76b;
    background: #f2f76b;
    margin: -4px 0px 0px 0px;
    right: -4px;
}

.audio-duration-info{
	display: flex;
	justify-content: space-between;
	font-family: Corbel!important;
	margin:5px 0px  
}

/* AudioPlay&PAuseButton */
.AudAct-wrapper{
	display: flex;
	justify-content: space-between;
	margin: 25px 0px;
}
#playIcon,#pauseIcon{
	width: 50px;
	margin: 0px 0px 0px 0px;
}
.backwordIcon,.forwadIcon{
	width: 20px;
}
.backwordIcon{
	transform: rotate(180deg);
    margin: -4px 0px 30px 0px;
}

.hide{
	transition: .100ms ease-in;
	display: none;

}


/*  */


@media (max-width: 768px) { 
	.player-wrapper{
		margin: 0 0px;
		width: 100%;
		border-radius: 0px;
	}
 }
